{% extends "base.html" %}

{% block content %}

    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card card-body">

        <p>Welcome to my own website, a website developed by <em>FreeDom</em>!</p>

        {% if contacts %}
          <ul class="list-group list-group-flush">

            {% for contact in contacts %}
                <li class="list-group-item">
                  <a href=""> {{ contact.full_name }}</a>
                  <a href=""> {{ contact.job_start }}</a>
                  <a href=""> {{ contact.job_money }}тг</a>
                  <a href=""> {{ contact.job_title }}</a>
                </li>
            {% endfor %}

          </ul>
          {% else %}
          <p>No contact</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>
        {% if page_obj.number > 3 %}
        <a href="?page=1">1</a>
        {% if page_obj.number > 4 %}
          <span>...</span>
        {% endif %}
      {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <span>...</span>
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}

      <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
    {% endif %}

{% endblock %}